<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Sign Up</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="{{url_for('static', filename='imgs/bonfiresmall.png')}}" alt="" id="logo">
            <h1>Duh Legion</h1>
        </a>
           
    </header>
    <!-- 
    modified our form action to route us to /register, which is going to be resolved by the backend for sending bs off to the server
    
    We send it to the api via /register
    We're sending stuff so it's a POST.

    Basically it's just a "get all the stuff in this form and yeet-skeet em over in a little delivery"
    -->
    <div class="container">
        <form action="/register" method="post">
            <label for="name" class="input">Name: </label>
            <input type="name", name="name" id="name">
            <label for="steamid" class="input">SteamID: </label>
            <input type="steamid" name="steamid" id="steamid" >
            <input type="submit" value="Submit" class="submit button">
        </form>
    </div>
</body>
</html>