<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    
    {% if match %}
   

    <title>Merry Christmas</title>
    
    
    {% else %}
   
    
    <title>Waiting room</title>
    
    {% endif %}



    <header>
        <a href="/">
            <img src="{{url_for('static', filename='imgs/bonfiresmall.png')}}" alt="" id="logo">
            <h1>Duh Legion</h1>
        </a>
           
    </header>

</head>
<body>
    <h1 class="welcome"> Welcome to to the waiting room, <span class="name">{{ name }}</span> </h1>

    {% if match != "none" %}
        
        <div class="waiting-ctn">
            <p class="waiting"> Holy <span>shit</span> it's time, <span class="merry">merry</span> <span class="christmas">christmas</span> man! </p>
            <p class="waiting"> Looks like you have to get a fucking gift for <span class="match">{{ match }}</span> </p>
        
        
            <a href="{{steam_url}}" class="steam">You can find em' here!</a>
        </div>


        

    {% else %}

    <p class="leave"> Look <span class="name-leave">{{ name }}</span> it's about time you <span id="leave">leave. 🚪👈</span> </p>

    <p class="now">For now...</p>
    <p class="now">Come back on Saturday</p>

    {% endif %}
</body>
</html>
